{% load static %}

<!DOCTYPE Html>
<html>
<head>
	<title>PCR-test</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
    <link href="{% static "style.css" %}" rel="stylesheet"/>
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet"/>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'forward-primer' %}">PCR-test</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.session.forward_primer_is_good %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'forward-primer' %}">Forward primer</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'reverse-primer' %}">Reverse primer</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'clear-session' %}">Clear Session</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page content-->
    <div class="container">{% block content %}{% endblock content %}</div>

    <!-- Bootstrap core JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</body>

</html>