{% if i == 'a' %}
    <td class="alert alert-success font-weight-bold" style="border-radius:0;border:1px solid white; background-color:#005A06; color:white;">A</td>
    {% elif i == 't' %}
    <td class="alert alert-danger font-weight-bold" style="border-radius:0;border:1px solid white; background-color:#B8231F;color:white">T</td>
    {% elif i == 'c' %}
    <td class="alert alert-info font-weight-bold" style="border-radius:0; border:1px solid white; background-color:#003D83;color:white">C</td>
    {% elif i == 'g' %}
    <td class="alert alert-warning font-weight-bold" style="border-radius:0; border:1px solid white; background-color:#000207;color:white">G</td>
    {% elif i == '-' %}
    <td class="border"></td>
    {% else %}
    <td class="border"></td>
{% endif %}