<div class="table-responsive mb-5">
    <table class="table" > 
        <tr class="text-center">
            <td class="border-bottom">Forward primer</td>
            {% for i in forward_primer_to_show %}
                {% if i == 'a' %}
                    <td class="alert alert-success font-weight-bold" style="border-radius:0;border:1px solid #D3D3D3">A</td>
                {% elif i == 't' %}
                    <td class="alert alert-info font-weight-bold" style="border-radius:0;border:1px solid #D3D3D3">T</td>
                {% elif i == 'c' %}
                    <td class="alert alert-warning font-weight-bold" style="border-radius:0; border:1px solid #D3D3D3">C</td>
                {% elif i == 'g' %}
                    <td class="alert alert-danger font-weight-bold" style="border-radius:0; border:1px solid #D3D3D3">G</td>
                {% else %}
                    <td class="border"></td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr class="text-center">
            <td class="text-nowrap">Nedre DNA-streng</td>
            {% for i in lower_dna %}
                {% if i == 'a' %}
                    <td class="alert alert-success font-weight-bold" style="border-radius:0;border:1px solid #D3D3D3">A</td>
                {% elif i == 't' %}
                    <td class="alert alert-info font-weight-bold" style="border-radius:0;border:1px solid #D3D3D3">T</td>
                {% elif i == 'c' %}
                    <td class="alert alert-warning font-weight-bold" style="border-radius:0;border:1px solid #D3D3D3">C</td>
                {% elif i == 'g' %}
                    <td class="alert alert-danger font-weight-bold" style="border-radius:0;border:1px solid #D3D3D3">G</td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            {% for _ in lower_dna %}
                <td class="text-muted text-center border-top-0 pb-0"><small>{{ forloop.counter }}</small></td>
            {% endfor %}
        </tr>
    </table>
</div>