<div class="table-responsive mb-5">
    <table class="table" > 
        <tr class="text-center">
            <td class="border-bottom">Forward primer</td>
            {% for i in forward_primer_to_show %}
                {% include 'pcrtest/color_conditions.html' %}
            {% endfor %}
        </tr>
        <tr class="text-center">
            <td class="text-nowrap">Nedre DNA-streng</td>
            {% for i in lower_dna %}
                {% include 'pcrtest/color_conditions.html' %}
            {% endfor %}
            </tr>
        <tr>
            <td></td>
            {% for _ in lower_dna %}
                <td class="text-muted text-center border-top-0 pb-0"><small>{{ forloop.counter }}</small></td>
            {% endfor %}
        </tr>
    </table>
</div>