{% extends 'pcrtest/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2 class="mt-5"><span class="h4">Trin 2: </span>Konstruktion af forward primer</h2>
<p>
    Din opgave er her at konstruere en brugbar 'forward primer' til brug ved PCR-test. <br>
    Når du har haft held med dette, bliver din 
    næste opgave at konstruere en brugbar 'reverse primer' til DNA-strengen. 
</p>
<form action="" class="mt-5" method="POST" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-center mb-5">
        <button type="submit" class="btn btn-primary">Afprøv forward primer</button>
    </div>
</form>

<br><br>

{% include 'pcrtest/forward_include.html' %}

{% if show_results %}

    <!-- Include visual representation of dna and primer -->
    <br>
    <h4>Fakta om din forward primer</h4>
    <ul>
        {% if occurences == 1 %}
            <li>Din primer passer præcis <span class="font-weight-bold">{{ occurences }}</span> sted i DNA-strengen.</li>
        {% else %}
            <li>Din primer passer <span class="font-weight-bold">{{ occurences }}</span> forskellige steder</span> i DNA-strengen. </li>
        {% endif %}
        <li>Din primers smeltepunkt er <span class="font-weight-bold">{{ melting_point }}</span>&#8451.</li>
        <li>Netop <span class="font-weight-bold">{{ tail_count }}</span> ud af de sidste 5 baser i din primer er enten 'C' eller 'G'</li>
    </ul>
        <br>
    <table class="table table-striped my-5"> 
        <thead>
            <tr>
                <th>Krav til primer</th>
                <th>Uddybning</th>
                <th>Opfyldt</th>
            </tr>
        </thead>
        <tbody>
            {% include 'pcrtest/common_primer_conditions.html' %}
        </tbody>
    </table>

    {% if request.session.forward_primer_is_good %}    
        <div class="alert alert-success">
            Din forward primer lever op til alle krav. Du kan nu gå videre og konstruere en 'reverse primer' til DNA-strengen.
        </div>
        <form action="{% url 'reverse-primer' %}" class="mt-5" method="GET">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Lav reverse primer</button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-warning">
            Din forward primer kan ikke bruges. Prøv igen!
        </div>
    {% endif %}
        <br><br>
{% endif %}


{% endblock content %}

